<!-- Footer -->
<footer class="wrapper style1 align-center">
    <div class="inner">
        <ul class="icons">
            {{ with .Site.Params.social.github }}<li><a target="_blank" href="{{.}}"
                    class="icon brands style2 fa-github"><span class="label">Github</span></a></li>{{end}}
            {{ with .Site.Params.social.gitlab }}<li><a target="_blank" href="{{.}}"
                    class="icon brands style2 fa-gitlab"><span class="label">Gitlab</span></a></li>{{end}}
            {{ with .Site.Params.social.twitter }}<li><a target="_blank" href="{{.}}"
                    class="icon brands style2 fa-twitter"><span class="label">Twitter</span></a></li>{{end}}
            {{ with .Site.Params.social.instagram }}<li><a target="_blank" href="{{.}}"
                    class="icon brands style2 fa-instagram"><span class="label">Instagram</span></a></li>{{end}}
            {{ with .Site.Params.social.linkedin }}
            <li><a target="_blank" href="{{.}}" class="icon brands style2 fa-linkedin"><span
                        class="label">LinkedIn</span></a></li>{{end}}
            {{ with .Site.Params.social.email }}<li><a target="_blank" href="mailto:{{.}}"
                    class="fav icon style2 fa-envelope"><span class="label">Email</span></a></li>{{end}}
            {{ with .Site.Params.social.telegram }}
            <li><a target="_blank" href="{{.}}" class="icon brands style2 fa-telegram"><span
                        class="label">Telegram</span></a></li>{{end}}
        </ul>
        <p>Theme: Hugo Story &copy; 2020 <a target="_blank" href="https://github.com/caressofsteel/">CaressOfSteel</a>
            <span class="footerspacer icon fad fa-diamond"></span>
            <a href="/credits.html">Credits</a>
        </p>
    </div>
</footer>