<head>
	<title>{{ .Site.Title }}</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<meta name="description" content="">
	<meta name="author" content="">
	{{ if .Site.Params.favicon }}
	{{ partial "template/favicon" }}
	{{ end }}
	<!-- CSS -->
	<link rel="stylesheet" href='{{ "css/main.min.css" | absLangURL }}'>
	<noscript><link rel="stylesheet" href='{{ "css/noscript.min.css" | absLangURL }}' /></noscript>
	<!-- Bootstrap -->
	<!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous"> -->
	{{ block "styles" . }}{{ end }}
</head>
