<div class="myrow">
    <div class="mycol">
        <h4 class="text-center">ABC notation</h4>
        <textarea id="abc" cols="80" rows="10" spellcheck="false">
            {{- .Params.tune -}}
        </textarea>
        <div id="warnings"></div>
    </div>
    <div class="mycol">
        <h4 class="text-center">Score</h4>
        <div id="paper" style="overflow: hidden; height: 3em;"></div>
    </div>
</div>

{{ define "scripts" }}
<script src="https://gitcdn.link/repo/paulrosen/abcjs/main/bin/abcjs_basic_6.0.0-beta.27-min.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function (event) {
        //ABCJS.renderAbc("paper", tune);

        var paper = document.getElementById('paper');
        if (paper) {
            // Editor

            new ABCJS.Editor('abc', {
                canvas_id: 'paper',
                warnings_id: 'warnings',
                abcjsParams: {
                    responsive: "resize"
                }
            });
        }
    });
</script>
{{ end }}

{{ define "styles" }}
<style>
    .myrow {
        width: 100vw;
        flex-wrap: wrap;
        display: flex;
    }
    .mycol {
        width: 50vw;
        padding: 1vw;
    }
</style>
{{ end }}