<!-- Banner -->
<section class="banner style5">
    <div class="content">
        {{ with .Page.Title }}<h1>{{ . }}</h1>{{ end }}
        {{ with .Params.Subtitle }}<p class="major">{{ . | safeHTML }}</p>{{ end }}
    </div>
    <div class="image">
        <img src="../images/music-score-sheet-vintage.jpg" alt="Score" />
    </div>
</section>